@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 170 90% 29%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 170 90% 29%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 25 14% 15%; /* Dark background */
    --foreground: 0 0% 100%; /* Bright text for contrast */
    --card: 33 20% 20%; /* Dark card backgrounds */
    --card-foreground: 0 0% 100%; /* Bright text on cards */
    --popover: 25 14% 15%; /* Dark popover */
    --popover-foreground: 0 0% 100%; /* Bright text on popover */
    --primary: 210 100% 80%; /* Bright primary color */
    --primary-foreground: 25 14% 15%; /* Dark text on primary color */
    --secondary: 240 7% 26%; /* Darker secondary color */
    --secondary-foreground: 0 0% 100%; /* Bright text on secondary color */
    --muted: 240 7% 26%; /* Darker muted color */
    --muted-foreground: 240 5% 80%; /* Lighter text on muted color */
    --accent: 240 7% 26%; /* Darker accent color */
    --accent-foreground: 0 0% 100%; /* Bright text on accent color */
    --destructive: 0 100% 67%; /* Bright red for destructive actions */
    --destructive-foreground: 25 14% 15%; /* Dark text on destructive color */
    --border: 240 7% 26%; /* Darker border color */
    --input: 240 7% 26%; /* Darker input fields */
    --ring: 210 100% 80%; /* Bright ring color */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
